/* 색깔  */
/* 폰트사이즈  1em */
/* 
폰트 패밀리
박스 스타일
.box{
    width: 100%; height: 50px;
	box-sizing: border-box;		
}
*/
/* 1. 초기화 */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.wrapper {
  width: 1300px;
  margin: auto;
}
header,
footer {
  text-align: center;
}
main {
  width: 750px;
  float: left;
}
aside {
  width: 250px;
  float: right;
}
footer {
  clear: both;
}

/* 2. 사용되는 태그 CSS 재정의  */
/* 컬러 높이 */
.input-txt {
  height: 50px;
}
/* 메뉴스타일 ul-li*/
.ul-float {
  padding: 0;
  margin: 0;
  height: 50px;
  list-style-type: none;
}
.ul-float li {
  padding: 0;
  margin: 0;
  float: left;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
}

/* a태그 가상선택자 */
a:link,
a:visited {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: none;
  color: red;
}
a:active {
  text-decoration: underline;
  color: green;
}
